.btn-salvar{
    background-color: #820AD1;
    border: none;
    color: #ffffff;
    margin: 5px;
    width: 130px;
    border-radius: 5px;
    height: 45px;
}
.btn-salvar:hover{
    opacity: 0.5;
}
.btn-cancelar{
    background-color: #ffffff;
    border: 1px solid #616161;
    color:  #616161;
    margin: 5px;
    width: 130px;
    border-radius: 5px;
    height: 45px;
}
.btn-cancelar:hover{
    background-color: red;
    color: #ffffff;

}
.btn-disabled{
    background-color: gray;
    color: #3a3939;
    opacity: 0.5;
    border: none;
    margin: 5px;
    width: 130px;
    border-radius: 5px;
    height: 45px;
}
.upperCaseText{
    text-transform: uppercase;
}
