
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Document</title>
        </head>
        <body>
            <header>
                <div>
                 <input type="checkbox" id="btn_menu">
                        <label for="btn_menu">&#9776;</label>  
                  <nav class="menu">
                    <img src="assets/images/brand-header.png" class="brand"/>
                        <ul>
                            <li class="nav-link"><a routerLink="/login"><mat-icon matListItemIcon class="icon-user">person</mat-icon><span>Fazer login</span></a></li>
                            <li class="nav-link"><a href="#">Contato</a></li>
                            <li class="nav-link"><a href="#">Quem somos</a></li>
                            <li class="nav-link"><a href="#">Investimentos</a>
                               <ul>
                                    <li><a href="#">teste 1</a></li>
                                    <li><a href="#">teste 2</a></li>
                               </ul>
                            </li>
                            <li class="nav-link"><a href="#">Home</a></li>
                        </ul>
                    </nav> 
                </div>
            </header>
            <main>
                <div class="container content-item">
                    <div class="row reverse-content">
                        <div class="p-4 col-lg-6 col-sm-12">
                            <h1 class="brand-color">Conheça uma ótima forma para organizar-se com seus investimentos</h1>
                            <h2>Você tera acesso a nossa ferramenta para se organizar e ter uma gestão mais fácil dos seus invetimentos.</h2>
                        </div>
                        <div class="col-lg-6 col-sm-12"><img src="assets/images/home/banner02.png" class="img-fluid"></div>
                    </div>
                </div>
                <div class="container content-item reverse-content">
                    <div class="row">
                        <div class="col-lg-6 col-sm-12"><img src="assets/images/home/photo01.png" class="img-fluid"></div>
                        <div class="p-4 col-lg-6 col-sm-12">
                            <h1 class="brand-color">Aqui você tem o total controle</h1>
                            <h2>O controle é todo seu para cadastrar, editar e excluir seus investimentos de uma forma fácil.</h2>
                        </div> 
                    </div>
                </div>
                    <div class="container content-item justify-content-center">
                        <div class="row justify-content-center">
                            <div class="box-destaque col-4">
                                <img src="assets/images/home/destaque1.jpg" class="img-fluid">
                                <p>Os gráficos de fácil entendimento estão em nossa ferramenta para auxiliar você para lhe proporcionar uma visao mais rápida do que você tem cadatrado,
                                    com essa possibilidade voce consegue se organizar ainda mais.
                                </p>
                            </div>
                            <div class="box-destaque col-4">
                                <img src="assets/images/home/destaque3.jpg" class="img-fluid">
                                <p>Os gráficos de fácil entendimento estão em nossa ferramenta para auxiliar você para lhe proporcionar uma visao mais rápida do que você tem cadatrado,
                                    com essa possibilidade voce consegue se organizar ainda mais.
                                </p>
                            </div>
                            <div class="box-destaque col-4">
                                <img src="assets/images/home/destaque2.jpg" class="img-fluid">
                                <p>Organize seus investimentos em uma ferramenta que lhe proporciona uma visão simplificada de cada investimento cadastrado.
                                </p>
                            </div>
                        </div>               
                    </div>
            </main>
            <footer>
               <div class="container content-item">
                    <div class="row p-5">
                        <div class="col-4">
                            <div class="row">
                                <div class="col-lg-4 col-sm-12 ">
                                    <ul>
                                        <li>Home</li>
                                        <li>Investimentos</li>
                                        <li>Quem somos</li>
                                        <li>Contato</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-12 top-margin">
                            <div>
                                <p>Redes sociais:</p>
                                <ul class="flex-inline midia">
                                    <li><img src="assets/images/midia/linkedin-icon.svg"/></li>
                                    <li><img src="assets/images/midia/yt-icon.svg"/></li>
                                    <li><img src="assets/images/midia/ig-icon.svg"/></li>
                                    <li><img src="assets/images/midia/fb-icon.svg"/></li>
                                    <li><img src="assets/images/midia/twitter-icon.svg"/></li>
                                </ul>
                            </div> 
                        </div>
                        <div class="col-lg-5 col-sm-12 text-end top-margin">
                            <a href="/" class="nav-branding "><img src="assets/images/brand-header-login.png"/></a>
                        </div>
                    </div>
                </div> 
            </footer>
        </body>
        </html>

       
 