
<div class="dialog-header">
    <div class="modal-close">
        <div class="btn-close" (click)="dialog.closeAll()"></div>
    </div>
</div>
<div class="dialog-body">
<div class="container">
    <div class="flex">
        <div class="item-flex">
            <div class="item">
                <div class="flex">
                    <div class="item">
                        <h1>Conta Grátis</h1>
                    </div>
                </div>
            </div>
            <div class="item valor">
                <p>
                    Para uso básico do serviço
                </p>
                <div class="mt-4">
                    <h1>
                       Grátis
                    </h1>
                </div>
            </div>
            <div class="item">
                <ul>
                    <li><img src="assets/images/accept_icon-green.png" class="accept-icon">Cadastro, edição e exclusão</li>
                    <li><img src="assets/images/accept_icon-green.png" class="accept-icon">Gráfico simples</li>
                    <li><img src="assets/images/cancel_icon-red.png" class="accept-icon">Gráficos Analitícos</li>
                    <li><img src="assets/images/cancel_icon-red.png" class="accept-icon">Configurações avançadas de layout</li>
                    <li><img src="assets/images/cancel_icon-red.png" class="accept-icon">Relatórios Analitícos</li>
                    <li><img src="assets/images/cancel_icon-red.png" class="accept-icon">Chat com especialista</li>
                    <li><img src="assets/images/cancel_icon-red.png" class="accept-icon">Suporte técnico</li>
                </ul>
            </div>
        </div>
        <div class="item-flex">
            <div class="item">
                <div class="flex">
                    <div class="item">
                        <h1>Conta Premium</h1>
                    </div>
                    <div class="item">
                        <img src="assets/images/icon-premium.png" class="premium-icon">
                    </div>
                </div>
            </div>
            <div class="item valor">
                <p>
                    Para pessoas que buscam recursos mais avançados 
                </p>
                <div class="mt-4">
                    <h1>
                        R$ 50,00/mês
                    </h1>
                </div>
                <div>
                    <div class="mt-4 mb-4 btn">Assinar plano</div>
                </div>
            </div>
            <div class="item">
                <ul>
                    <li><img src="assets/images/accept_icon-green.png" class="accept-icon">Cadastro, edição e exclusão</li>
                    <li><img src="assets/images/accept_icon-green.png" class="accept-icon">Gráfico simples</li>
                    <li><img src="assets/images/accept_icon-green.png" class="accept-icon">Gráficos Analitícos</li>
                    <li><img src="assets/images/accept_icon-green.png" class="accept-icon">Configurações avançadas de layout</li>
                    <li><img src="assets/images/accept_icon-green.png" class="accept-icon">Relatórios Analitícos</li>
                    <li><img src="assets/images/accept_icon-green.png" class="accept-icon">Chat com especialista</li>
                    <li><img src="assets/images/accept_icon-green.png" class="accept-icon">Suporte técnico</li>
                </ul>
            </div>

        </div>


    </div>
  

</div>
</div>


